<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Empleados con Mayor Salario</title>
</head>
<body>
<h2>Empleados con mayor salario de la empresa</h2>

<div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
<form method="post" th:action="@{/search/búsqueda}">
    <input name="sueldo" id="sueldo" class="form-control mb-3" type="text" placeholder="Ingrese sueldo para filtrar" />
</form>
<a class="btn btn-primary mt-4 mb-4" th:href="@{'/search/listar'}">Limpiar</a>
<a class="btn btn-primary mt-4 mb-4" th:href="@{'/search'}">Regresar</a>

<table class="table table-sm">
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Fecha de Inicio</th>
        <th>Fecha de Fin</th>
        <th>Puesto</th>
    </tr>
    <tr th:each="item, info : ${lista2}">
        <td th:text="${item.getNombre()}"></td>
        <td th:text="${item.getApellido()}"></td>
        <td th:text="${item.getInicio()}"></td>
        <td th:text="${item.getFin()}"></td>
        <td th:text="${item.getPuesto()}"></td>
    </tr>
</table>
</body>
</html>