<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Lista de Empleados</title>
</head>
    <body>
    <h2>Reporte de salario máximo por departamento</h2>

    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>


    <a class="btn btn-primary mt-4 mb-4" th:href="@{'/'}">Regresar</a>

    <table class="table table-sm">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Fin</th>
            <th>Puesto</th>
        </tr>
        <tr th:each="item, info : ${lista3}">
            <td th:text="${item.getIdDepartment()}"></td>
            <td th:text="${item.getDepartamento()}"></td>
            <td th:text="${item.getPromedio()}"></td>
            <td>
                <a class="btn btn-primary mt-4 mb-4" th:href="@{'/search/listar'}">Limpiar</a>
            </td>
        </tr>
    </table>
    </body>
</html>